ai_powered/AI-Powered Document Summarizer & Notifier.json
{
  "name": "AI-Powered Document Summarizer & Notifier",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following document in less than 300 characters:{{ $json.text }}",
        "options": {
          "systemMessage": "=You are a concise, factual document summarizer. \n\n- Title: short title (<= 60 chars)\n- Summary: concise summary (3–5 sentences; <= 300 characters)\n- Key Points: array of up to 5 short bullet points (each <= 140 chars)\n- Action Items: array of up to 3 suggested actions (may be empty)\n- Language: 2-letter ISO code of detected language (e.g., \"en\")\n- Sentiment: \"positive\", \"neutral\", or \"negative\"\n- Truncated: boolean (true if input was trimmed / chunked)\n- Summary Length Chars: integer (actual character length of summary)\n- Max Tokens: 200-300\n\nRules:\n1. Keep the summary factual; do not invent facts or dates. If unsure, use \"likely\" or omit the fact.\n2. If the input contains clear dates, people, numbers or deadlines, include them in key_points.\n5. Always follow the character / length constraints above."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1232,
        544
      ],
      "id": "d0cae7fa-fd10-4a7b-95ba-5e864357d94c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        768
      ],
      "id": "77c58599-2aea-4ba4-8132-4f82fdcf8bd3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WCk5ptERvfLe219v",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FxZOCBSgyd0KyK13cEOwpAGHj8acIyVK",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "f645be4e-6234-4984-9e4a-1552e847d927",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        32,
        544
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6hdkTGuRRpQ6NGmj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Check Document Type').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        608,
        400
      ],
      "id": "e97c0523-5ba4-45d3-a993-b11320f99e26",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FrKnM9ye3ZQCmzfg",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4e823422-08d2-4b98-a537-058c84010f1c",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        544
      ],
      "id": "cd20e8af-3fba-4204-a953-ab8d07c25184",
      "name": "Check Document Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a756e70-4b34-4595-a1cb-a8e6dd715f07",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        400
      ],
      "id": "db6038cb-5a52-420d-abd5-4655e2f383f0",
      "name": "Set Field"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        816,
        768
      ],
      "id": "bf9bf0f4-1315-4816-91ff-9b53c6bf9423",
      "name": "Convert to Text"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "f34b4745-ebd6-430b-88c6-9c34d0e4b03d",
      "name": "Download PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        608,
        768
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6hdkTGuRRpQ6NGmj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C096E5P119V",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1776,
        384
      ],
      "id": "4c376f18-39b0-4832-9fe9-2d574e2e31b3",
      "name": "Send message to Slack Channel",
      "webhookId": "5c1613ef-6856-4a87-95b5-dda331a04a8c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "ntTzsGmt8PVJZSJL",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "Doc Summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        656
      ],
      "id": "ab6365c4-bba3-42fa-b702-fe4f5183ccc9",
      "name": "Email the Summary",
      "webhookId": "9e12e184-df96-4d24-ad0f-f3f9ce1582f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "bkdHqAeZVazFcy8X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📑 Auto trigger and checking file type",
        "height": 688,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        272
      ],
      "typeVersion": 1,
      "id": "da8dfa4a-23ca-469f-ad13-9811184a3308",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 📑 Docs, TXT file route",
        "height": 320,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        272
      ],
      "typeVersion": 1,
      "id": "d6411536-3cb7-499d-b27b-c18cf9a09e1d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 📑 Summarizing docs",
        "height": 688,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        272
      ],
      "typeVersion": 1,
      "id": "cd769f6e-9ffb-431f-8c10-62a6ad85e452",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 📑 Notifier",
        "height": 688,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        272
      ],
      "typeVersion": 1,
      "id": "8515df5f-189b-4c8a-8ca8-2c0329544aad",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 📑 PDF file route\n",
        "height": 336,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        624
      ],
      "typeVersion": 1,
      "id": "ba29ca4f-8f7b-44f5-ae89-c53c88e288eb",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message to Slack Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email the Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Check Document Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Set Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Document Type": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Field": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Convert to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a436c1a0-e6ae-4b2d-8a75-c43612650a29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af9fe5bb0163dc4cbb85dd6fb4c45fe63eac1327996aeecd696d8f7aed2d776b"
  },
  "id": "cFXP4gO2L3sOPL5k",
  "tags": [
    {
      "createdAt": "2025-09-11T07:44:51.787Z",
      "updatedAt": "2025-09-11T07:44:51.787Z",
      "id": "hn4J0lsjY8f3g0pQ",
      "name": "ai powered doc"
    },
    {
      "createdAt": "2025-09-11T07:44:43.900Z",
      "updatedAt": "2025-09-11T07:44:43.900Z",
      "id": "qtuQF3Lc141mfYiM",
      "name": "n8n template"
    }
  ]
}